<!DOCTYPE html>
<head>

</head>

<body>
<p>{{title}}</p>

<form method="post" action="/form/signup">
    <label>username:</label>
    <input type="text" name="username" />
    <label>password:</label>
    <input  type="text" name="password" />
    <button type="submit">Send</button>
</form>
</body>
</html>