{{> header }}

<div class="container">
    <h1 style="color:red;font-size:50px"> Le Bon Plan </h1>
    <h4><a href="/products/cities/Paris">Paris</a></h4>
    <h4><a href="/products/cities/Lyon"> Lyon</a></h4>
    <h4><a href="/products/cities/Marseille">Marseille</a></h4>
</div>
<img src="carte.png" alt="image" style="padding-left :350px ;heigth:200px;width:600px " ; />