{{> header }}
<div class="container">
    <h1 style="color:red;font-size:50px"></h1>

<div>
    <span style="font-size:30px"> username:</span> <span style="color:orange;font-size:30px">{{ username}} </span>
</div>
<div>
    <span style="font-size:30px"> firstName:</span>   <span  style="color:orange;font-size:30px"> {{ firstName}}</span>
    
    </div>
    <div>
    <span style="font-size:30px"> surname: </span>  <span style="color:orange;font-size:30px">{{ surname}}</span>
    </div>
    
    <p>profilePicture :</p><img src="./uploads/{{profilePicture}}"   style="width:100px;" />
</div>